body {
background-image: url('https://tuteurcliqueur.github.io/ezgif.com-instagif.gif'); 
background-size: cover;
padding: 25px;
font-family: 'Calibri', Sans-Serif; 
}
.navbar ul {
  list-style-type: none;
  background-color: #ffffff;
  border-color: #000000;
  padding: 0px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 7px;
  border: 3px solid #000000;
}
.navbar a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  transition: transform 0.3s;
}
.navbar a:hover {
  background-color: #eeeeee;
  transform: scale(1.05);
}
.navlock a:hover {
  color: #000000;
  background-color: #909090;
  transform: scale(1.05);
}
.navbar li {
  float: left;
}
.size2 {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 13%;
  overflow-x: hidden;
  padding-top: 0;
  border-radius: 25px;
}
.size1 {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 13%;
  overflow-x: hidden;
  padding-top: 0;
  
}
.left {
  left: 0;
  text-align: center;

}
.right {
backdrop-filter: blur(20px);
  right: 0;
  text-align: center;
 border: 5px solid #ffffff;
}
.calcMain {
width: auto;
margin: auto;
padding-top: 10px;
max-width: 500px;
}
.calcMain  :hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.calcMain :active {
  transform: scale(1.2);
  transition: transform 0.3s;
}
.upgrade {
  list-style-type: none;
  padding: 0;
}
.upgrade li{
  background-color: #444444;
      color: #000000;
      border: 2px solid #999999;
      padding: 15px 20px;
      margin: 10px 0;
      margin: 10%;
      border-radius: 12px;
      font-size: 18px;
      transition: transform 0.2s ease, background-color 0.2s;
      cursor: pointer;
}
.upgrade li:hover {
background-color: #aaaaaa;
transform: scale(1.05);
transition: transform 0.3s;
}
.upgrade li:active {
background-color: #eeeeee;
transform: scale(1.15);
transition: transform 0.3s;
}
.numberOf {
  float: left;
  margin-top: 2%;
}
